<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!loading" class="documents">
    <h1>Documenti</h1>

    <ul>
        <li *ngFor="let document of documentList">
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img style="width: 60%;" src="{{document.thumbnail}}">
                    </div>
                    <div class="contentBx">
                        <h2>{{document.title}}</h2>
                        <div class="content">
                            <h3>{{document.content}}</h3>
                        </div>
                        <a (click)="downloadDocument(document.title)">Scarica</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>